.FoodRuler {
  @include spacing('lg', margin-top);
  @include spacing('section', margin-bottom);
  text-align: center;

  &__ruler {
    margin: 0 auto;
    width: rem-calc(150);
    max-width: rem-calc(700);
    border: $border--large;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2em 2em 1.5em 0;
    @include spacing('sm', margin-bottom);

    @include bp(md) {
      width: auto;
      padding: 1em 2em 0 2em;
      flex-direction: row;
      width: 100%;
    }
  }

  &__item {
    position: relative;
    padding-left: rem-calc(30);
    margin-bottom: spacing(lg, sm);

    &:last-of-type {
      margin-bottom: 0;
    }

    @include bp(md) {
      padding-left: 0;
      padding-bottom: rem-calc(20);
      text-align: center;
      margin-bottom: 0;
    }

    &:before {
      content: '';
      width: rem-calc(20);
      height: $s-border__width--large;
      background: black;
      margin: 0 auto;
      position: absolute;
      left: 0;
      top: 0.5em;

      @include bp(md) {
        width: $s-border__width--large;
        height: rem-calc(20);
        top: calc(100% - #{rem-calc(20)});
        left: 50%;
      }
    }
  }

  &__title {
    @include bold;
    position: relative;
    &:after {
      content: ',-';
      position: absolute;
    }
  }

  &__desc {
    margin-bottom: 0;
  }
}
