.Form {
  width: 100%;
  max-width: rem-calc(400);
  margin: 0 auto;

  &__block {
    @include spacing(sm, margin-bottom);
  }

  &__label {
    display: block;
    @include italic;
  }

  &__input {
    border: $border;
    padding: 0.35em 0.45em 0.35em;
    width: 100%;

    &--error {
      animation: error 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    }
  }

  &__textarea {
    width: 100%;
    border: $border;
    padding: 0.35em 0.45em 0.35em;
    min-height: rem-calc(200);

    &--error {
      animation: error 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    }
  }

  &__checkbox {
    @include spacing('xs', 'margin-right');
    width: 1em;
    height: 1em;
    transition: box-shadow $trans--fast;
    vertical-align: text-bottom;
    box-shadow: inset 0 0 0 $s-border__width black,
      inset 0 0 0 $s-border__width $pink, inset 0 0 0 $s-border__width black;

    &:checked {
      box-shadow: inset 0 0 0 $s-border__width black, inset 0 0 0 0.25em $pink,
        inset 0 0 0 1em black;
    }

    &:focus {
      outline: none;
    }
  }

  &__message {
    @include spacing(xs, padding-top);
    @extend small;
  }

  @keyframes error {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      transform: translateX(10px);
    }
    80% {
      transform: translateX(8px);
    }
    90% {
      transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      transform: translateX(10px);
    }
    80% {
      transform: translateX(8px);
    }
    90% {
      transform: translateX(-8px);
    }
  }
}
