.Header {
  text-align: center;

  &--hidden {
    display: none;
  }

  &__logo {
    @include bold;
    font-size: 23vw;
    line-height: 1;

    @include bp(xxl) {
      line-height: 0.8;
    }
  }
}
