.Hero {
  @extend .container;
  // @include minusHeaderHeight;
  min-height: 100vh;
  text-align: center;
  width: 100%;
  @include spacing(section, padding-bottom);
  padding-top: 10vh;
  display: flex;
  flex-direction: column;

  @include bp(md) {
    // min-height: 520px;
    padding-top: 0;
    justify-content: center;
  }

  &__illustration {
    @include spacing(lg, margin-bottom);
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    @include spacing(sm, margin-bottom);
  }
}
