.Hero {
  @extend .container;
  @include minusHeaderHeight;
  text-align: center;
  width: 100%;
  @include spacing(lg, padding-bottom);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 460px;

  &__illustration {
    @include spacing(lg, margin-bottom);
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    @include spacing(sm, margin-bottom);
  }
}
