.Nav {
  @extend .container;
  @include font-size(h3);
  @include spacing(sm, (padding-top, padding-bottom));
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background: $c-main;
  // border-top: $border;

  &--is-dark {
    color: $c-main;

    .Nav__col--menu {
      color: $c-main;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    width: 100%;
  }

  &__col {
    display: block;
    width: 50%;

    &--order,
    &--menu {
      @include bold;
      font-size: 200%;
      // @include bp(xxl) {
      //   @include font-size(h2);
      // }
    }
    @media (max-width: 500px) {
      &--order,
      &--menu {
        @include bold;
        font-size: 120%;
        // @include bp(xxl) {
        //   @include font-size(h2);
        // }
      }
    }
    &--menu {
      position: relative;
      text-align: right;
      text-transform: uppercase;
      padding-left: 1rem;
      // border-left: $border;

      &:focus {
        outline: transparent;
      }
    }
  }
}
