.Section {
  &--full {
    .Section__content {
      width: 100%;
      max-width: 100%;
      @extend .container;
    }
  }

  &__header {
    @extend .container;
    text-align: center;
    @include content-width('text');
    @include spacing(md, margin-bottom);
  }

  &__title {
    @include spacing(md, margin-bottom);
  }

  &__desc {
    @extend .editor;
    max-width: rem-calc(400);
    margin: 0 auto;

    @include bp(xl) {
      max-width: rem-calc(630);
    }
  }

  &__content {
    @extend .container;
    // @extend .editor;
    @include content-width(text);
  }
}
