@font-face {
  font-family: 'Eurostile';
  src: url('/assets/fonts/383E18_0_0.eot');
  src: url('/assets/fonts/383E18_0_0.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/383E18_0_0.woff2') format('woff2'),
    url('/assets/fonts/383E18_0_0.woff') format('woff'),
    url('/assets/fonts/383E18_0_0.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Eurostile';
  src: url('/assets/fonts/383E18_1_0.eot');
  src: url('/assets/fonts/383E18_1_0.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/383E18_1_0.woff2') format('woff2'),
    url('/assets/fonts/383E18_1_0.woff') format('woff'),
    url('/assets/fonts/383E18_1_0.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
